
.logo {
  height: 100%;
  width: 5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*TODO:FIX search bar size bug*/
.searchBoxContainer{
  height: 100%;
  width:60%;
  position: relative;
  
}
.searchBox {
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 30px;
  border-radius: 30px;
  padding: 10px;
  
}

.searchBox:hover > .searchText{
  width:250px;
  padding: 0 6px;
}

.searchBox:hover > .searchBtn{
  background: white;
  color: black;
  
}

.searchBtn {
  
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  
}
.searchBtn > i {
  font-size: 15px;
}

.searchText {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 15px;
  width: 0px;

  
  
 
}