
.bodyLeftBox {
height: 98%;
width: 69%;
background-color: maroon;
border: 3px black solid;
}
.bodyRightBox {
    height: 98%;
width: 29%;
background-color: mediumaquamarine;
border: 3px black solid;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;

}

.globalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title{
    width: 100%;
    height: 19%;
    text-align: center;
    font-size: 2vw;
    background-color: cornflowerblue;
}
.globalStatusBox{
    width: 100%;
    height: 79%;
    display: grid;
    justify-items: center; 
    grid-template-columns: repeat(2,4fr);
    grid-template-rows: repeat(2,4fr);
    gap: 10px;
    background-color: chocolate;
    font-size: 2vw;
}
.globaData{
width :25vw ; 
height: 5vw;
background-color: yellowgreen;
font-size: 1em; 
display: flex;
justify-content: center;
align-items: center;
text-align: center;

}
iframe{
    width: 90%;
    height: 40%;
   
}
.statistics {
}
