body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    
   
}
*{
    font-family: 'Fredoka One', cursive;
}


.pageContainer{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
  flex-direction: column;
  
}
/*----------------main page containers---------------------------*/
header {
    width: 100%;
    height: 9%; 
    background: #7c3238;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
.btnsbox{
    width:100%;
    height: 7%;
    background-color: tomato;
    display: flex;
    justify-content: space-around;
}
.mainBody{
    width:100%;
    height: 79%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
footer{
    width:100%;
    height: 4%;
    background-color: blue;
}


/**------------- button box ----------------------*/
.ContinentsbtnsBox{
    height: 100%;
    width:60%; 
    display: flex;
    justify-content: space-evenly;
    background-color: yellowgreen;
}

.Continentbtn{
    height:100% ; 
    width: 19%;
    border-radius:30% ;
    border: 3px blue solid;
    cursor: pointer;
}
