body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec008c, #fc6767); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec008c, #fc6767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   
}
*{
    font-family: 'Fredoka One', cursive;
}


.pageContainer{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
  flex-direction: column;
  
}
/*----------------main page containers---------------------------*/
header {
    width: 100%;
    height: 9%; 
    background: black;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
.btnsbox{
    width:100%;
    height: 7%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
  

}
.mainBody{
    width:100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
     
  

}
footer{
    width:100%;
    height: 4%;
   
}


/**------------- button box ----------------------*/
.ContinentsbtnsBox{
    height: 100%;
    width:50%; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
   
   
}

.Continentbtn{
    height:100% ; 
    width: 19%;
    cursor: pointer;
    background-color: #333;
    color: white;
}

.Continentbtn:hover{
    background-color: red;
}
