.bodyLeftBox {
   box-sizing:  border-box;
  height: 98%;
  width: 69%;
  background-color: maroon;
  border: 3px black solid;
  display: flex;
  flex-direction: column ;
  justify-content: space-evenly;
  padding: 0.5em;
 
  
}
.bodyRightBox {
  height: 98%;
  width: 29%;
  background-color: mediumaquamarine;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 35px;
  background-color: cornflowerblue;
}
